alabaster==0.7.16
attrs==23.2.0
Babel==2.15.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
docutils==0.20.1
fiona==1.9.6
geopandas==0.14.4
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
Pygments==2.18.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
shapely==2.0.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinx-copybutton==0.5.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.1
