name: maup tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.9, '3.10', 3.11]
        os: [ubuntu-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install pytest poetry
          python -m poetry install
          python -m poetry export --dev -f requirements.txt > requirements.txt
          python -m pip install -r requirements.txt
      - name: Test
        run: python -m poetry run pytest
